body {
  background-image: url('/img/bg.png');
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import '~@fortawesome/fontawesome-free/css/all.css';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap-vue/dist/bootstrap-vue.css';

.features {
  i {
    font-size: 36px;
    display: block;
    margin-bottom: 25px;
  }
}

.breadcrumb {
  background-color: #ffff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.leaderboard-table {
  td {
    vertical-align: middle;
  }
}

.bg-green {
  background-color: #78bf8b !important
}

.bg-blue {
  background-color: #66adb9 !important
}

.bg-red {
  background-color: #c26366 !important
}

.footer-text {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.header-logo {
  max-width: 90vw;
  max-height: 40px;
}